@import url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap);

header {
    text-decoration: none;
    display: flex;
    padding: 30px 320px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding: 29px 230px;
}

header>ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
    text-decoration: none;
}

#banner {
    display: flex;
    justify-content: center;
}

#search { 
    border-radius: 40px;
    border: 1px solid var(--grey-2, #939393);
    background: var(--grey-3, #F8FCFF);
}
#seacher>p {
    color: #939393;
}