* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2';
}

main {
    margin: 0 124px;

    & img {
        object-fit: cover;
    }
}

.standard {
    position: relative;
    min-height: 900px;
    max-height: fit-content;

    display: flex;
    justify-content: center;

    font-family: "Baloo 2";
    text-align: center;
}

.standard__bg {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;

    z-index: 1;
}

.standard__bg>img {
    height: inherit;
    width: 100%;

    object-fit: fill;
}

.standard__main {
    position: absolute;
    top: 10%;

    z-index: 2;

}

.standard>img {
    position: absolute;
    left: 20%;
}

.standard__main>img {
    position: absolute;
    left: 20%;
}

h2,
p {
    margin: 0;
    padding: 0;
}

.standard h2 {
    color: #006752;
    font-weight: 700px;
    font-size: 48px;
    line-height: 57.6px;
    margin: 20px 0 88px 0;
    text-transform: uppercase;
}

.standard__h {
    margin: 0 auto;
    background: #cae8dc;
    width: fit-content;
    border-radius: 24px;
    padding: 0;
}

.standard__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 0 auto;
}

.standard__item {
    gap: 36px;
    padding: 28px;
    width: 300px;
    justify-content: space-between;

    background-color: #fd5c37;
    border-radius: 24px;
    box-shadow: 0px 6px 16px 0px #f9862640;

    color: #fff;
}

.standard__item:first-child {
    background-color: #3c8f7c;
    box-shadow: 0px 6px 16px 0px #3c8f7c;
}

.standard__item:last-child {
    background-color: #fdd04c;
    box-shadow: 0px 6px 16px 0px #fdd04c;
}

.standard__item>img {
    height: 60%;
}

.standard__text {
    height: 40%;
}

.standard__heading {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 1020.56px;
    justify-content: center;
}

.post-max {
    width: 541px;
    gap: 13px;
}

.title {
    color: var(--green-1, #006752);
}

.tag {
    border-color: linear-gradient(0deg,
            rgba(82, 175, 162, 0.15) 0%,
            rgba(82, 175, 162, 0.15) 100%),
        #fff;
    color: var(--green-1, #006752);
    border-style: solid;
    border-radius: 4px;
    height: 20px;
}

.post-item {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.product-layout {
    text-align: center;
    margin: 40px 0;

    & .layout-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .btn-pagi {
            all: unset;
            width: 24px;
            height: 24px;
            padding: 8px;
            border-radius: 24px;
            background-color: #cae8dc;
        }

        & .btn-pagi:hover {
            background-color: #006752;
        }
    }

    & .layout-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin-top: 24px;
        padding: 0 80px;
        justify-content: center;

        & .layout-card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px;

            & .btn-detail {
                padding: 8px 24px;
                border-radius: 40px;
                border: 0.5px solid #006752;
                background: #006752;
                justify-content: center;
                align-items: center;
                gap: 10px;

                color: #fff;
                font-size: 14px;
                font-weight: 700;
                line-height: 140%;
                /* 19.6px */
                text-transform: uppercase;
            }

            & .card-content {
                & .text-bold {
                    font-weight: 700;
                }
            }
        }
    }
}

.layout-list {
    display: flex;
    gap: 24px;
    width: 100%;
    height: auto;
}

.card-image {
    align-items: center;
    padding: 8px;
    position: relative;
    height: 268px;
    min-width: 268px;

    & .img-1 {
        position: absolute;
        z-index: 1;
        left: 20px;
        bottom: 4px;
    }

    & .img-2 {
        position: absolute;
        right: 36px;
        bottom: 4px;
    }
}

.post {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 1020.56px;
    justify-content: center;
}

.post-max {
    width: 541px;
    gap: 13px;
}

.title {
    color: var(--green-1, #006752);
}

.tag {
    border-color: linear-gradient(0deg,
            rgba(82, 175, 162, 0.15) 0%,
            rgba(82, 175, 162, 0.15) 100%),
        #fff;
    color: var(--green-1, #006752);
    border-style: solid;
    border-radius: 4px;
    height: 20px;
}

.post-item {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

/* aboutUs */

.core-layout {
    display: flex;
    flex-direction: column;
    margin: 60px 0px;

    & .core-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #006752;

        & .core-title-bg {
            padding: 2px 8px;
            border-radius: 12px;
            background-color: #cae8dc;
            width: fit-content;
        }

    }

    & .core-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        margin-top: 40px;

        & .core-card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 480px;
            padding: 16px 24px;
            border-radius: 24px;
            box-shadow: 0px 5px 8px 0px rgba(167, 164, 159, 0.20);
            background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
            backdrop-filter: blur(15px);

            background-color: whitesmoke;

            & .core-card-row1 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                width: 100%;

                & h5 {
                    color: #006752;
                    font-family: Baloo 2;
                    font-size: 32px;
                    width: 188px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    text-transform: uppercase;
                    word-wrap: break-word;
                }
            }

            & .core-card-row2 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                gap: 16px;

                & .core-card-row2-content {

                    & b {
                        color: #3c8f7c;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                    }

                    & p {
                        display: flex;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #444;
                    }
                }

                & b {
                    color: #3c8f7c;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                }
            }
        }
    }

}

.intro-layout-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: auto;

    & .intro-content-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
        width: 50%;

        & h5 {
            display: flex;
            color: #006752;
            font-family: Baloo 2;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }

    & .intro-image-1 {
        width: 400px;
        height: auto;

        & img {
            width: auto;
            right: 0;
            bottom: 0;
        }
    }
}

.intro-layout-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: auto;
    margin-bottom: 40px;

    & .intro-content-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
        width: 50%;

        & h5 {
            display: flex;
            color: #006752;
            font-family: Baloo 2;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }

    & .intro-image-2 {
        width: auto;
        height: auto;

        & img {
            width: auto;
            right: 0;
            bottom: 0;
        }
    }
}

.partner-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    & .partner-title-bg {
        display: flex;
        padding: 2px 8px;
        border-radius: 12px;
        color: #006752;
        background-color: #cae8dc;
        width: fit-content;
    }

    & .partner-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        & img {
            object-fit: contain;
        }
    }
}

/* footer */

footer {
    display: block;
}

.grid {}

.footer-item {
    display: flex;
    flex-direction: column;
    color: var(--green-1, #006752);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo 2;
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
}

.grid_row {
    display: flex;
    width: 942px;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.info {
    width: 1920px;
    height: 60px;
    flex-shrink: 0;
    background: var(--blue-1, #3C8F7C);
}

.info>p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo 2;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 16.8px */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.icon {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.icon-share {
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 42px;
    background: var(--green-1, #006752);
    box-shadow: 0px 7px 5px 0px rgba(47, 160, 67, 0.15);
}

.icon-cart {
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 42px;
    background: var(--green-1, #006752);
    box-shadow: 0px 7px 5px 0px rgba(47, 160, 67, 0.15);
}

/* product */

.product-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: auto;

    & .product-body {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 16px;
        width: 320px;
        height: inherit;

        & .product-heading {
            display: flex;
            flex-direction: inherit;
            align-items: flex-start;
            gap: 48px;

            & p {
                color: #444;
                font-family: Baloo 2;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-transform: uppercase;
            }

            & h3 {
                display: flex;
                color: #006752;
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
            }

            & .heading-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }

        }

        & .product-detail {
            display: flex;
            flex-direction: column;
            gap: 24px;

            & .detail-table {
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                gap: 4px;

                & .table-row {
                    display: flex;
                    justify-content: space-between;

                    & p {
                        color: #444;
                        font-family: Baloo 2;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        text-transform: uppercase;
                    }

                    & .table-mass {
                        display: inherit;
                    }
                }

            }

            & .detail-social {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: 16px;

                & .social-list {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }


        }


    }

    & .product-slider {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: auto;
        height: auto;

        & .slider-layout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 16px;
            gap: 24px;

            & img {
                object-fit: contain;
            }

            & .slider-image {
                width: 400px;
                height: 400px;
                align-items: center;
                position: relative;

                background-color: #fff;

                & .sm-left {
                    position: absolute;
                    z-index: 1;
                    left: 40px;
                    bottom: 4px;
                    width: 200px;
                    height: auto;
                }

                & .lg-right {
                    position: absolute;
                    width: 200px;
                    height: auto;
                    bottom: 4px;
                    right: 60px;
                }
            }
        }

        & .slider-pagination {
            display: flex;
            justify-content: center;
            gap: 4px;
        }
    }
}

.faq-layout {
    display: flex;
    gap: 24px;

    & .faq-ask {
        display: flex;
        flex-direction: column;
        padding: 8px;
        width: auto; 
        height: auto;

        gap: 16px;

        background-color: whitesmoke;

        & .ask-title {

            & h2 {
                color: #FD5C37;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
            }
            

        }

        & .ask-content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & h3 {
                display: flex;
                color: #006752;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
            }
        }
    }

    & .faq-answer {
        border-radius: 8px;
        color: white;
        background-color: #E3672B;
    }

}